.vscode/settings.json
.idea/.gitignore
.idea/deployment.xml
.idea/jupyter.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
